.header {
    max-width: 800px;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px lightgray solid;
}

.logoName {
    width: 125px;
    margin-left: 10px;
}

.logoImg {
    margin-right: 10px;
}

.headerHeart {
    margin: 0 40px;
}